RAG_BACKEND_URL=http://127.0.0.1:8000
# Groq API Key for Vercel Environment Settings
GROQ_API_KEY=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

# Default Model
DEFAULT_GROQ_MODEL=openai/gpt-oss-120b
DEFAULT_TRANSLATION_MODEL=openai/gpt-oss-20b


CLOUDFLARE_ACCOUNT_ID=440c51335b8eae2d9bd6749749cfcaa7
CLOUDFLARE_API_TOKEN=cfat_N68WLFOTdWPLdL73pIb7tHL4givAE9d6fZrDINnq49d6e850
CLOUDFLARE_EMBED_MODEL=@cf/baai/bge-m3
