SUPABASE_URL=https://zkerkqykldhdtkztvhem.supabase.co
SUPABASE_KEY=sb_secret_A41QVMSfkV1I2yEK5fdM6A_KVwfC1Ne


CLOUDFLARE_ACCOUNT_ID=440c51335b8eae2d9bd6749749cfcaa7
CLOUDFLARE_API_TOKEN=cfat_N68WLFOTdWPLdL73pIb7tHL4givAE9d6fZrDINnq49d6e850
CLOUDFLARE_EMBED_MODEL=@cf/baai/bge-m3
